.wrapper{
  max-width: 100vw;
  height: 100vh;
  position: fixed;
  .chat{
    float: left;
    .header{
      top: 0;
      height: 100px;
      width: calc(100vw - 300px);
      border-bottom: solid $paleGrayColor;
      position: relative;
      .left--header{
        font-size: 20px;
        color: $heavyGrayColor;
        padding-top: 35px;
        padding-left: 40px;
        box-sizing: border-box;
      }
      .left--header__members{
        font-size: 12px;
        color: $lightGrayColor;
        padding-top: 15px;
        padding-left:40px; 		
        box-sizing: border-box;
        display: flex;
          .group--member{
            padding-right: 5px;
          }
      }
      .right--header{
        position: absolute;
        top: 28px;
        right:40px;
        height: 40px;
        width: 60px;
        border: solid $skyBlueColor;
        color: $skyBlueColor;
        text-align: center;
        padding-top: 5px;
        box-sizing: border-box;
        a{
          text-decoration: none;
          color: $skyBlueColor;
        }
      }
    }	   
    .messages{
      overflow:scroll; 
      max-width: 100vw;
      height: calc(835px - 103px - 90px);
      width: calc(100vw - 300px);
      padding-bottom: 150px;
      box-sizing:border-box;
      
      .message{
        padding-left: 40px;
        position: relative;
        box-sizing:border-box;
        .upper--message{
          @include clearfix();
          .upper--message__user-name{
            float: left;
            color: $heavyGrayColor;
            padding-right: 10px;
            size: 16px;
            font-weight: bold;
            color: $blackColor;
          }
          .upper--message__date{
            float: left;
            color: $lightGrayColor;
            size: 12px;
          }
        }
        .message--content{
          padding-top: 10px;
          padding-bottom:  25px;
          .lower-message__image{
            padding-bottom: 23px;
            display: block;
            width: 200px;
            height: 150px;
          }
        }
      }
    }
    .form{
      position: absolute;
      bottom: 0;
      width: calc(100vw - 300px);
      height: 90px;
      background-color: $paleGrayColor;
      .form__message{
        width: calc(100vw - 513px);
        height: 50px;
        font-size: 16px;
        position: absolute;
        top: 20px;
        left: 40px;
        padding-left: 10px;
        padding-right: 15px;
        box-sizing: border-box;
        border: none;		
        box-sizing: border-box;		
        float:left;	
        @include clearfix();
      }
      label{
        .hidden{
          display: none;
        }
        .icon{
          float: right;
          position: relative;
          top: 35px;
          right: 183px;
        }
      }
      .form__submit{
        background-color: $skyBlueColor;
        height: 50px;
        width: 100px;
        color: white;
        size: 16px;
        float: right;
        position: relative;
        top: 20px;
        right: 40px;
        text-align: center;
        padding-top: 14px; 
        box-sizing: border-box;
      }
    }
  }
}
