$whiteColor: #FFFFFF;
$lightGrayColor: #999999;
$blackColor: #434A54;
$darkBlueColor: #253141;
$lightBlueColor: #2f3e51;
$heavyGrayColor: #333333;
$skyBlueColor: #38AEF0;
$paleGrayColor: #eeeeee;
$darkGrayColor: #AAAAAA;
$alertOrangeColor: #F35500;
